<!DOCTYPE html>
<html>

<head>
  <title>DN-Renderer</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--cdn Links-->
  <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>-->
  <!--Asset Links-->
  <link rel="stylesheet" href="Assets/bootstrap.min.css">
  <script src="Assets/jquery.min.js"></script>
  <script src="Assets/bootstrap.min.js"></script>
  <script src="Assets/angular.min.js"></script>
  <!--App References-->
  <link rel="stylesheet" href="style.css">

</head>

<body>

  <div ng-app="myApp" ng-controller="mainAppCtrl">
    <div class="header container">
      <div class="header-title">DN-Renderer</div>
    </div>
    <div class="header-banner">
      <div class="container">
        <h2 class="header-banner-title">Welcome to Editors Dashboard</h2>
        <h4 class="header-banner-subtitle"></h4>
      </div>
    </div>
    <div class="container main-container" style="margin-top: 70px; margin-bottom:90px;">
      <div class="col-sm-12" class="dn-mrgn-t-b-10px">
        <h2 class="dn-mrgn-t-b-10px">Add your contents here</h2>
        <form name="typeSelectForm" class="dn-mrgn-t-b-10px">
          <label><input type="radio" name="contentType" ng-model="newItem.type" value="para">Paragraph</label>
          <label><input type="radio" name="contentType" ng-model="newItem.type" value="para-html">Paragraph with html</label>
          <label><input type="radio" name="contentType" ng-model="newItem.type" value="image">Image</label>
          <div ng-hide="newItem.type === 'image'">
            
          <textarea rows="12" cols="150" ng-model="newItem.data" placeholder="Enter content.."></textarea>
          </div>
          <div ng-show="newItem.type === 'image'">
            
          <input type="text" style="width: 500px; margin: 10px" placeholder="Enter url.." ng-model="newItem.data" />
          </div>
          <button ng-click="addNewItem()" ng-hide="isEditMode">Add Content</button>
          <button ng-click="UpdateItem()" ng-show="isEditMode">Update Content</button>
          <!--<button ng-click="deleteItem()" ng-show="isEditMode">Delete Item</button>-->
          
        </form>
      </div>
      <div class="col-sm-12" class="dn-mrgn-t-b-10px">
        <h2>Have a preview</h2>
        <div ng-hide="newContentList.length > 0">
          <h4 class="less-opacity">No Content has been written</h4>
        </div>
        <div ng-repeat="item in newContentList" ng-switch on="item.type">
          <div ng-switch-when="para" class="dn-mrgn-t-b-10px preview-item" ng-class="{'selected-item' : selectedItem.id === item.id}" ng-click="editContent(item.id)">
            <p>{{item.data}}</p>
          </div>
          <div ng-switch-when="para-html" class="dn-mrgn-t-b-10px preview-item" ng-class="{'selected-item' : selectedItem.id === item.id}" ng-click="editContent(item.id)">
            <div ng-bind-html="trustContentAsHtml(item.data)"></div>
          </div>
          <div ng-switch-when="image" class="dn-mrgn-t-b-10px preview-item" ng-class="{'selected-item' : selectedItem.id === item.id}" ng-click="editContent(item.id)">
            <img ng-src="{{item.data}}" style="max-width: 800px;"/>
          </div>
        </div>
      </div>
      <div class="col-sm-12" class="dn-mrgn-t-b-10px">
        <h2>Generated Json</h2>
        <div ng-show="newContentList.length > 0" class="dn-mrgn-t-b-10px">
          <button ng-click="resetEntireList()">Clear All</button>
        </div>        
        <div ng-show="newContentList.length > 0">
          <pre ng-bind="generatedJsonContent"></pre>
        </div>
        <div ng-hide="newContentList.length > 0">
          <h4 class="less-opacity">No Content has been written</h4>
        </div>
      </div>      
      
    </div>
  </div>
  <!--Main Controller-->
  <script src="appController.js"></script>
</body>

</html>